/* Error: Undefined variable.
 *     ,
 * 116 |         width: $width-completo;
 *     |                ^^^^^^^^^^^^^^^
 *     '
 *   scss/styleConjuntv2.scss 116:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 116 \2502          width: $width-completo;\d\a     \2502                 ^^^^^^^^^^^^^^^\a     \2575 \a   scss/styleConjuntv2.scss 116:16  root stylesheet";
}
