//Variables de Colores Principales
$color-primary: #2563eb;        // Blau clar
$color-primary-dark: #1e40af;   // Blau fosc
$color-secondary: #10b981;      // Verd clar
$color-secondary-dark: #059669;
$color-background: darkkhaki;
//colores basicos
$color-white:white;
$color-black:black;

//Variables de medidas (tamaño letras)
$base-size:1rem;
$font-size-small:0.875rem;
$font-size-base: 1rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.5rem;
$font-size-xlarge:2rem;
$font-bold: bold;


//Vairables de espacios (padding y marges)
$space-small: 0.5rem;
$space-medium: 1rem;
$space-large: 1.5rem;
$space-xlarge: 2rem;

//Variables de grosores (width/border/...)
$width-base:100px;
$border-style: solid;
$border-width-1: 1px;
$border-width-2: 2px;
$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 1rem;

//Variables de Sombras
$shadow-sm:    0 2px 4px rgba(0,0,0,.08);
$shadow-base:  0 4px 8px rgba(0,0,0,.10);
$shadow-md:    0 8px 16px rgba(0,0,0,.12);
$shadow-lg:    0 12px 24px rgba(0,0,0,.16);
$shadow-hover: 0 16px 32px rgba(0,0,0,.20);

//Variables de transicion
$transition-base:0.3s;
$transition-fast:0.2s;

//Ex1: preu
.targeta-producte {
    width: ($width-base*3);
    border: $border-width-1;
    padding: $space-large;

    .titol {
        color: $color-primary-dark;
        font-size: $font-size-large;
    }

    .descripcio {
        color: $color-black;
        font-size: $font-size-base;
    }

    .preu{
        font-weight: $font-bold;
        color: $color-secondary;
        font-size: $font-size-xlarge;      
    }

    .boto-compra{
        background-color: $color-primary;
        color: $color-white;
        padding: $space-medium $space-large;

        &:hover{
            background-color: $color-primary;
        }
    }



}

//Ex.2 Formulario
.formulari {
    max-width: ($space-xlarge*18);
    margin: auto;
    padding: $space-xlarge;

    .camp {
        label {
            font-size: $font-bold;
            margin-bottom: $space-medium;
        }

        input {
            width: 100%;
            padding: $space-medium;
            margin-bottom: $space-medium;
            outline: $border-width-1 $border-style $color-black;
            font-size: $font-size-base;

            &:focus {
                outline: $border-width-2 $border-style $color-primary;
            }
        }

        textarea {
            field-sizing: content;
        }
    }

    .boto-enviar {
        padding: $space-medium;
        background-color: $color-secondary;
        font-size: $font-size-base;
        width: $width-completo;
        color: $color-white;

        &:hover {
            background-color: $color-secondary-dark;
        }
    }
}

//Ex.3 Images

.galeria {
    display: flex;
    gap: $space-medium;
    padding: $space-xlarge;
    justify-content: center;

    .galeria-item {
        width: 33%;

        .imatge-container {
            overflow: hidden;
            box-shadow: 0 ($borde-2*2) ($borde-2*4) rgba(0, 0, 0, 0.1);

            img {
                width: $width-completo;
                display: block;

                &:hover {
                    scale: 1.1;
                }
            }

            &:hover {
                box-shadow: 0 ($borde-2*4) ($borde-2*8) rgba(0, 0, 0, 0.2);
            }
        }

        .titol {
            text-align: center;
            margin-top: $size-1;
            color: $color-darkkhaki;
            font-size: ($borde-2*9);
        }
    }

}

//Ex.4 Menu

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: ($size-2*2);
  padding: 0 (($size-1)+($size-1-medio));
  background-color: $color-lightyellow;

  .logo img {
    width: ($size-1)+($size-1-medio);
    display: block;
  }

  .navegacio {
    display: flex;
    gap:($width-15/5);

    .enllaç {
      padding: ($padding-0625) ($padding-09375);
      color: $color-darkgray;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: ($size-1/5);
        width: $width-completo;
        background: $color-lightyellow;
        transform: scaleX(0);
        transition: transform 0.3 ease;
      }

      &:hover {
        color: $color-primary;

        &::after {
          transform: scaleX(1);
        }
      }

      &.actiu {
        color: $color-primary;
        font-weight: bold;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

//Ex.5 Tarjetas
.equip {
  display: flex;
  gap: $size-1-medio;
  padding: ($size-1)+($size-1-medio);
  justify-content: center;
  background: $color-secondary;

  .membre-card {
    width: ($width-36/2);
    background: $color-primary;
    border-radius: ($size-1/2);
    padding:$size-1-medio;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-0.5rem);
    }

    .avatar {
      width: ($width-15/2);
      height: ($width-15/2);
      margin-bottom: $size-1;
      border: ($size-1/4) solid $color-primary;
      object-fit: cover;
    }

    .nom {
      color: $color-darkgray;
      font-size: $size-1-medio;
      font-weight: 700;
      margin-bottom: ($size-1/2);
    }

    .carrec {
      color: $color-gray;
      font-size: $size-1;
      margin-bottom: $size-1;
    }

    .xarxes {
      display: flex;
      justify-content: center;
      gap: ($size-1)-($size-1/4);

      .xarxa-enllaç {
        display: inline-block;
        width: ($size-1-medio) + ($size-1);
        height: ($size-1-medio) + ($size-1);
        border-radius: ($width-completo/2);
        background: $color-lightyellow;
        color: $color-lightgray;
        line-height: ($size-1-medio) + ($size-1);
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          background: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}
